@layer default {
  footer {
    background-color: var(--dark-secondary-color);
  }

  .footer-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 3.2rem;
  }

  .footer-cnt .top {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .footer-cnt .top .top-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    width: 100%;
  }

  .footer-cnt .top .company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
  }

  .footer-cnt .top .company-info a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-cnt .top .company-info a img {
    width: 100%;
    transition: filter 0.2s;
  }

  .footer-cnt .top .company-info p {
    width: 100%;
    font-family: var(--body);
    font-size: clamp(var(--fs-0), 5vw, var(--fs-2));
    color: white;
  }

  .footer-cnt .btm {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    width: 100%;
    padding-block: 0.4rem;
  }

  .footer-cnt .btm p {
    font-size: clamp(var(--fs-0), 5vw, var(--fs-1));
  }
}

/*desktop*/
@media (width > 1024px) {
  .footer-cnt .top .top-cnt {
    flex-direction: row;
    text-align: left;
  }

  .footer-cnt .top .company-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer-cnt .top .top-cnt .company-info a {
    justify-content: start;
  }

  .footer-cnt .btm .btm-cnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-cnt .top .company-info a img:hover {
    filter: brightness(0);
  }
}
