.authentication {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

.company {
  display: none;
  align-items: center;
  text-align: center;
  background-color: white;
}

.company .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: white;
  padding-block: 2.4rem;
  padding-inline: 3.2rem;
  max-width: 800px;
}

.company .wrapper .lockup h1 {
  color: var(--primary-color);
}

.company .wrapper .lockup p {
  font-size: clamp(var(--fs-0), 3vw, var(--fs-1));
  color: var(--secondary-color);
}

.company .wrapper .lockup img {
  transition: 0.2s;
}

.company .wrapper .lockup img:hover {
  filter: brightness(0);
}

form {
  background-color: var(--dark);
  display: flex;
  align-items: center;
}

form .wrapper {
  padding: 0rem;
  display: flex;
  justify-content: center;
  width: clamp(350px, 70%, 500px);
}

form .box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgba(129, 127, 127, 0.2);
  border-radius: 1.4rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

form h2 {
  display: flex;
  color: white;
  justify-content: center;
  width: 100%;
  font-size: var(--fs-6);
  padding-bottom: 1.6rem;
}

form .box .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 0.8rem;
}

form .box .inputs p {
  width: max-content;
  color: white;
  opacity: 0.85;
  font-size: clamp(var(--fs-0), 3vw, var(--fs-1));
}

form .box .field label {
  opacity: 0.9;
}

form .box .field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: white;
}

form .box .password a {
  width: max-content;
  text-decoration: underline;
  font-size: clamp(var(--fs-0), 3vw, var(--fs-1));
  font-weight: 600;
  color: white;
  opacity: 0.9;
  cursor: pointer;
  transition: filter var(--bg-transition);
}

form .box .field label {
  width: max-content;
  font-size: clamp(var(--fs-0), 3vw, var(--fs-1));
}

form .box .field .input-wrap {
  border-radius: 5px;
  padding: 0.2rem 0.8rem;
  transition: 0.3s;
  display: flex;
  border: 2px solid var(--dark-secondary-color);
  background-color: white;
}

form .box .field .input-wrap:focus-within {
  border: 2px solid var(--primary-color);
  box-shadow: 0px 6px 6px rgb(0, 0, 0, 0.4);
}

form .box .field .input-wrap .hide {
  opacity: 0;
  color: black;
  transition: opacity 0.3s;
  pointer-events: none;
}

.field .input-wrap:has(input:not(:placeholder-shown)) .hide {
  opacity: 1;
  pointer-events: all;
}

.field .input-wrap input {
  width: 100%;
  color: black;
}

.error {
  position: absolute;
  top: -12%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: red;
  color: white;
  padding: var(--button-padding);
  margin-bottom: 0.8rem;
  border-radius: 100px;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-100px);
  transition: all 0.4s;
}

.error.active {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

form .box .buttons {
  padding-bottom: 0.8rem;
  justify-content: center;
}

form .box .cta {
  width: 96%;
}

.sub-text {
  color: white;
  font-size: clamp(var(--fs-0), 3vw, var(--fs-1));
}

.account {
  color: var(--secondary-color);
  text-decoration: underline;
  font-weight: 600;
  transition: filter var(--bg-transition);
}

/*desktop*/
@media (width > 1024px) {
  .authentication {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .company {
    display: flex;
  }

  .company .wrapper {
    padding-block: 4.8rem;
  }

  .company .wrapper img {
    display: flex;
    height: 12rem;
  }
}

@media (width > 1028px) {
  form .box .group li a:hover {
    transform: translateY(-5px);
  }

  .account:hover {
    filter: brightness(0);
  }

  form .box .password a:hover {
    filter: brightness(0);
  }
}

form .box .group li a:active {
  transform: translateY(5px);
}

form .box .password a:active {
  filter: brightness(0);
}

.account:active {
  filter: brightness(0);
}
