@layer default {
  .section-hero {
    position: relative;
  }

  .section-hero::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../bg/red.webp");
    background-size: cover;
    background-repeat: none;
    background-position: center;

    border-radius: 0px 0px 70px 70px;

    left: 0;
    z-index: -1;
  }

  .hero {
    display: grid;
    gap: 3.2rem;
    padding-top: 3.2rem;
    grid-template-columns: 1fr;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .hero .lockup {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 1.4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding-block: 2.4rem;
  }

  .hero .lockup h1 {
    color: white;
  }

  .hero .lockup p {
    color: white;
  }

  .hero .lockup {
    justify-content: center;
    gap: 0rem;
    padding: 0rem;
  }

  .hero .lockup h1 {
    padding: 0.8rem;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 1.4rem 1.4rem 0px 0px;
  }

  .hero .lockup p {
    padding: 0.8rem;
  }

  .hero .lockup .buttons {
    padding-top: 0;
    padding-bottom: 0.8rem;
  }

  .img-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .img-box .h1,
  .img-box .h2,
  .img-box .h3 {
    position: absolute;
    z-index: 3;
  }

  .img-box .h1 {
    width: 25%;
    left: 0%;
    transform: translateY(-30px);
  }

  .img-box .h2 {
    width: 20%;
    right: 0%;
    transform: rotate(50deg);
  }

  .img-box .h3 {
    width: 15%;
    transform: rotate(360deg);
    bottom: 0;
    left: 0;
  }

  .frame {
    position: relative;
    z-index: 2;
  }

  .slider {
    width: 100%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: clip;
  }

  .list {
    display: flex;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.45, 0, 0.55, 1);
  }

  .pic {
    min-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (width > 1024px) {
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  section {
    text-align: left;
  }

  .hero {
    align-items: center;
    grid-template-columns: 2fr 1fr;
  }

  .hero .lockup {
    justify-content: center;
    gap: 0rem;
    padding: 0rem;
  }

  .hero .lockup h1 {
    padding: 1.6rem 0rem 0.8rem 1.6rem;
  }

  .hero .lockup p {
    padding: 0.8rem 0rem 0.8rem 1.6rem;
  }

  .hero .lockup .buttons {
    padding: 0rem 0rem 1.6rem 1.6rem;
  }
}
